<%= form_for(@employee) do |f| %>
 <%= render 'common/errors', resource: @employee %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <br>

  <div class="field">
    <%= f.label :position, "Position" %>
    <%= f.collection_select :position_id, Position.all, :id, :title %>
  </div>
  <br>

  <div class="field">
    <%= f.label :date_of_birth %><br>
    <%= date_select :employee, :dateofbirth, start_year: 1905 %>
  </div>
  <br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
