<p id="notice"><%= notice %></p>

<p>
  <strong>Position:</strong>
  <%= @position.title %>
</p>

<%= link_to  "Список работников должности #{@position.title}" , for_position_path(position_id: @position.id)%>

<table>
   <tbody>
      <% Employee.all.each do |p| %>
      <tr>
        <td><% if p.position.title == @position.title %>
          <%= p.name %>
    <% end %>
      </tr>
  <% end %>
  </td>
  </tbody>
</table>

<br>

<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
